body {
	color: white;
	font-family: Arial;
}

a {
    color: yellow;
    text-decoration: none;
}

#navigationBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

#navigationBar li {
    float: left;
}

#navigationBar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#navigationBar li a:hover {
    color: blue;
    background-color: dimgray;
}

.active {
	color: blue;
	background: yellow;
}

.citations {
	font-size: 10px;
    bottom: 0px;
    position: absolute;
}

.heading {
	text-align: center;
}